<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
{% include 'base/navbar.html' %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2 style="position: relative;">Artext: Artificial Text Generation</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <div>
                <h3>API Usage</h3>
                <hr/>
                <div class="bg-light" style="text-align:left !important; padding: 0.4cm">
                    <p>Use the following details to make API calls. The input and output data are both in <b>json</b> format.</p>
                    <strong>Action: </strong> <code>Generate noisy samples of an input sentence.</code><br/>
                    <strong>URL: </strong>
                        <code>/api/artext/noise</code><br/>
                    <strong>Method: </strong> 
                        <code>POST</code> <br/>
                    <strong>URL Params: </strong>
                        <code>None</code> <br/>
                    <strong>Data Params: </strong>
                        <code>{ input: [string] }</code> <br/>
                    <strong>Success Response: </strong>
                        <code>{ input: "Input sentence.", ouput: "Noisy samples separated by new line." }</code> <br/>

                    <p>We use the standard HTTP response codes of RESTful APIs.</p>
                </div>
            </div>

            <hr/><br/>

            <div>
                <h3>Live Demo</h3>
                <hr/>
                <textarea class="form-control" id="input" rows="4" name="input" placeholder="Input text..." required=""></textarea>
                <div class="invalid-feedback">Please enter an input text.</div>
                <hr>
                <button class="btn btn-primary btn-lg btn-block" id="btn-submit">Generate</button>
                <hr>
                <pre class="card-text bg-light" style="text-align:left !important; line-height:1.7; padding: 0.4cm">
                    <div class="item" id="output"></div>
                </pre>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/script.html' %}

<script>
    function api_call(input_text) {
        $.ajax({
            url: '/api/artext/noise',
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
               input: input_text,
            }),
        }).done(function (data) {
            $('#output').html(data.output);
        }).fail(function (data) {
            $('#output').html("Request failed!");
            console.error(data);
        })
    }

    $(document).ready(function() {
        $('#btn-submit').click(function() {
            api_call($("#input").val());
        });
    });
</script>

</body>

</html>
